.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem;

  z-index: 999; /* garante que fica acima dos outros elementos */
}
